extends layout

block content
  h1 Mattehw Berry's Genere list 
  p Welcome to Matthew's Genere List! 


  h3 The list

  if error
    p Error getting dynamic content.
  else

    p The Genere list has the following record counts:

    ul
      
      
      li #[strong Genres:] !{data.genre_count}